name: Build docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      

permissions:
  contents: write

jobs:
  docs:
    strategy:
      matrix:
        python-version: [ 3.11 ]
        os: [ ubuntu-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v3

      - name: Install dependencies
        run: |
          uv add chex
          uv sync --extra docs

      - name: Build docs
        run: uv run mkdocs build

      - name: Deploy docs
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: uv run mkdocs gh-deploy
